<app-player *ngFor="let player of game.players; let i = index;"
[ngStyle]="{'top.px': 100 + (i * 120)}" [name]="player"  
class="player-position"></app-player>  <!-- ngFor wiederholt das so oft wir Spieler im Array haben. Top gibt an was wir stylen und die px die Einheit, die 100 ist die erste zahl, aber i->0 0*120=0 beim 2ten durchlauf i->1 1*120=120  -->
<!-- Inputvariable ->[name]="player" der Name soll der player sein, aus dem  Array, name wird in player.components,ts importiert und in player.component.html eingefügt  -->

<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img [ngStyle]="{'right.px': i * 5}" 
            *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="/assets/img/cards/card_cover.png">  <!-- *ngFor ist eine For Schleife, mit let c(eine Variable) sagen wir was wir durchetarieren. dann kommt das Array mit der Anzahl an Karten die wir brauchen.
                Mit ngStyle fügen wir dem Element direct einen style zu. Hier ein abstand nach rechts von 0px beim ersten Element 5px beim 2ten, beim 3ten 10px usw, den px abstand gibt i an und mit *5 sagen wir das wir 1px mit 5 Multiplizieren -->
        <img (click)="takeCard()" class="top-card" style="right: 30px"
        src="/assets/img/cards/card_cover.png"> 

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/cards/{{ card }}.png">  <!-- card ist die Variable und ist game.playedCards aus game.component.ts  -->
 
        <!-- Current crad (Animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 30px" 
         src="/assets/img/cards/{{ currentCard }}.png">  <!-- mit {{ currentCard }} fügen wir die Aktuelle Karte ein die per zufall gewählt wird. CurrentCard  kommt aus game.component.ts   Man malt von Unten nach oben, dh. das Letzte Bild ist oben!!-->
    </div>
</div>