.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: round;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-30px);  // beim Hovern ändern wir die Größe(scale) auf 1.1 fache und schieben es auf der Y Achse(translateY) nach oben
    }
}

.played-card {
    right: 30px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);  // damit die Karte dann nicht auf den Haufen zurück geht wenn man nicht drauf zeigt
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);  // bei 40% ist der Scale bei 1.7
    }
    60% {
        transform: scale(1.7);  // bei 60% bleibt der Scale gleich
    }
    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);  // bei 100% geht der Scale zurücj auf 1.3 und wir bekommen noch Achsverschiebungen auf X und Y
    }
}


.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}