<h1 mat-dialog-title>Add new player</h1>

<div mat-dialog-content>
  <p>Please enter the name of a player</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">  <!-- mit ngModel binden wir die Variable name an das Inputfeld, alles was sich dort dann ändert(man schreibt Max rein) ändert sich dann auch in der Variable(name heist dann Max) -->
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
</div>
